**/.vs
**/.ionide
TransferPhotosFromCard/obj
!TransferPhotosFromCard/bin
TransferPhotosFromCard/bin/*
!TransferPhotosFromCard/bin/Release
TransferPhotosFromCard/bin/Release/*
!TransferPhotosFromCard/bin/Release/TransferPhotosFromCard.exe
